//
   Created by user on 27.01.2016.
extends layout

block content
    h1 Artists
    h2 Добавить исполнителя
    form
        input#inputName(type="text", name="name")
        input#addArtist(type="submit", value="добавить")
    ul#artists


    script(type="text/javascript", src="/javascripts/artists.js")

