//
   Created by user on 27.01.2016.

div.nav
    ul
        li: a(href="/artists") Исполнители

        li: a(href="/songs") Песни

        if login
            li.logout: a(href="/logout") Выйти
        else
            li.login: a(href="/signup") Регистрация
                a(href="/signin") Войти

